<app-navbar></app-navbar>
<div class="text-center">
    <img src="https://cdn.pixabay.com/photo/2018/10/14/17/13/transformation-3746921_960_720.jpg"
        alt="Banner Transformacion Digital" class="rounded mx-auto d-block" class="img-fluid">
</div>
<div class="inicio">
    <div class="card mat-card">
        <div class="card-titles">
            <h1>APLICACION WEB FULL STACK</h1>
        </div>
    </div>
</div>
<div class="inicio">
    <div class="card mat-card">
        <div class="card-titles">
            <h2>Portfolio interactivo</h2>
        </div>
    </div>
</div>
